{% extends "main.html" %}
{% block title %}Reset your password{% endblock %}

{% block login %}
<style>
    input:valid+label {
        clear: red;
    }

    main {
        margin: 0 !important;
    }
</style>
<section class="bg-dark h-100">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%); height: 100vh;">
        <div class="container h-100 
        {% if validlink %}
        d-flex align-item-center justify-content-center
        {% endif %}
        ">
            <div class="row offset-1
            {% if validlink %} 
            align-items-center
            {% endif %}
            w-100
            ">
                <div class="col-lg-5 m-0 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Reset your  <br />
                        <span class="text-primary">password?</span>
                    </h1>
                </div>
                {% if validlink %}
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <p class="text-black">Please enter your new password twice:</p>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-outline mb-4" data-mdb-input-init>
                                        <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}"
                                            class="form-control form-control-lg"
                                            name="{{ field.name }}" placeholder="{{ field.label }}" {% if field.field.required %}required{% endif %} />
                                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    </div>
                                    {% for error in field.errors %}
                                        <p class="m-0 text-danger">{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                                <p><input class="btn btn-primary mt-2" type="submit" value="Change my password"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <p class="text-dark">The password reset link was invalid, possibly because it has already
                    been used. Please request a new password reset.</p>
                {% endif %}
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock %}