
/*  */
/* Calender */
/*  */

.calendard {
  border-collapse: collapse;
  width: 100%;
  height: 100vh;
}
.calendard th,
.calendard td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}
.calendard td{
  position: relative;
}
.calendard td > a{
  outline: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}
.calendard td .Notes{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.calendard td .Notes>button{
  outline: none;
  border: 1px solid rgb(245, 245, 245);
  background-color: transparent;
}
.calendard td p{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: start;
}

.calendard th {
  background-color: #f2f2f2;
}


/* ====== */
/* Table */
/* ====== */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid rgb(214, 214, 214) !important;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* ------------------------------ */
/* ------------leads------------- */
/* ------------------------------- */
.dataTables_filter {
  float: right;
  width: 50%;
}
.dataTables_filter label{width: 100% !important;}
.form-control-sm{
  font-size: 1rem !important;
  width: 100% !important;
}
.dataTables_filter label{width: 100% !important;}
.dataTables_filter label input{font-size: 1rem !important;}


/*  */
/*  */
/*  */

.box{
    padding: 1.5rem !important;
    border-radius: 5px !important;
}
.box > .card-header{
    border-bottom: 2px solid #0056B8;
}

.box .card-body{
    margin-top: 1rem;
}