<div class="modal fade" id="craete_new_employee" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="username">Employee Id</label>
                            <input type="text" class="form-control" name="username" id="username" required>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" name="first_name" id="first_name" required>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" name="last_name" id="last_name">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="date_of_birth">Date of Birth</label>
                            <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" required>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="qualification">Qualification</label>
                            <input type="text" class="form-control" name="qualification" id="qualification" required>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="employee_photo">Employee Photo</label>
                            <input type="file" class="form-control" name="employee_photo" id="employee_photo">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="document">Document</label>
                            <input type="file" class="form-control" name="document" id="document">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="company_email">Company Email</label>
                            <input type="email" class="form-control" name="company_email" id="company_email">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="address">Address</label>
                            <textarea class="form-control" name="address" id="address" rows="5"></textarea>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="employee_mobile_number">Mobile Number</label>
                            <input type="number" class="form-control" name="employee_mobile_number" id="employee_mobile_number" required>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="parent_number">Parent Number</label>
                            <input type="number" class="form-control" name="parent_number" id="parent_number">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="role">Role</label>
                            <select class="form-select" aria-label="Default select example" id="role" name="role">
                                <option selected disabled>-------</option>
                                {% for role in Roles %}
                                <option class="" value="{{ role.pk }}">{{ role.role_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="department">Department</label>
                            <select class="form-select" aria-label="Default select example" id="department" name="department">
                                <option selected disabled>-------</option>
                                {% for Department in Departments %}
                                <option class="text-dark" value="{{ Department.pk }}">{{ Department.department_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="position">Position</label>
                            <select class="form-select" aria-label="Default select example" id="position" name="position">
                                <option selected disabled>-------</option>
                                {% for position in Positions %}
                                <option class="text-dark" value="{{ position.pk }}">{{ position.Position_Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="is_trainee">Is Trainee</label>
                            <select class="form-select" aria-label="Default select example" id="is_trainee" name="is_trainee">
                                <option>No</option>
                                <option>Yes</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="is_staff">Is Staff</label>
                            <select class="form-select" aria-label="Default select example" id="is_staff" name="is_staff">
                                <option>No</option>
                                <option>Yes</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="is_teamlead">Is Teamlead</label>
                            <select class="form-select" aria-label="Default select example" id="is_teamlead" name="is_teamlead">
                                <option>No</option>
                                <option>Yes</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="is_admin">Is Root</label>
                            <select class="form-select" aria-label="Default select example" id="is_admin" name="is_admin">
                                <option>No</option>
                                <option>Yes</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="date_of_join">Date of Join</label>
                            <input type="date" class="form-control" name="date_of_join" id="date_of_join">
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Create">
            </div>
        </form>  
        </div>
    </div>
</div>