<div class="modal fade" id="{{ user.username }}" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit {{ user.username }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'employee_details_update' pk=user.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                            {% if user.employee_photo %}
                            <div class="profile-pic d-flex align-items-center justify-content-start">
                                <img src="{{user.employee_photo.url}}" id="output" style="width: 150px; height: 150px; border-radius: 50%;" />
                                <div class="w-25 mx-3">
                                    <label class="-label" for="file">
                                    <span class="glyphicon glyphicon-camera"></span>
                                    <span>Change Image</span>
                                    </label>
                                    <input class="form-control" id="file" type="file" name="employee_photo" onchange="loadFile(event)"/>
                                </div>
                              </div>
                              <script>
                                var loadFile = function (event) {
                                    var image = document.getElementById("output");
                                    image.src = URL.createObjectURL(event.target.files[0]);
                                    };
                              </script>
                            {% else %}
                                <!-- Display a placeholder image or message if the employee photo is not available -->
                                <p>No photo available</p>
                            {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" name="first_name" id="first_name" value="{{ user.first_name }}">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" name="last_name" id="last_name" value="{{ user.last_name }}">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="date_of_birth">Date of Birth</label>
                            <input type="date" class="form-control" name="date_of_birth" value="{% if user.date_of_birth %}{{ user.date_of_birth|date:'Y-m-d' }}{% endif %}">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="qualification">Qualification</label>
                            <input type="text" class="form-control" name="qualification" id="qualification" value="{{ user.qualification }}">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="company_email">Company Email</label>
                            <input type="email" class="form-control" name="company_email" id="company_email" value="{{ user.company_email }}">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="address">Address</label>
                            <textarea class="form-control" name="address" id="address" rows="1">{{ user.address }}</textarea>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="employee_mobile_number">Mobile Number</label>
                            <input type="number" class="form-control" name="employee_mobile_number"
                                id="employee_mobile_number" value="{{ user.employee_mobile_number }}">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="parent_number">Parent Number</label>
                            <input type="number" class="form-control" name="parent_number" id="parent_number" value="{{ user.parent_number }}">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="role">Role</label>
                            <select class="form-select" aria-label="Default select example" id="role" name="role">
                                <option selected disabled>-------</option>
                                {% for role in Roles %}
                                <option class="" {% if user.role == role %} selected {% endif %} value="{{ role.pk }}">{{ role.role_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="department">Department</label>
                            <select class="form-select" aria-label="Default select example" id="department"
                                name="department">
                                <option selected disabled>-------</option>
                                {% for Department in Departments %}
                                <option class="text-dark" {% if user.department == Department %} selected {% endif %} value="{{ Department.pk }}">{{ Department.department_name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="position">Position</label>
                            <select class="form-select" aria-label="Default select example" id="position"
                                name="position">
                                <option selected disabled>-------</option>
                                {% for position in Positions %}
                                <option class="text-dark" {% if user.position == position %} selected {% endif %} value="{{ position.pk }}">{{ position.Position_Name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="is_trainee">Is Trainee</label>
                            <select class="form-select" aria-label="Default select example" id="is_trainee"
                                name="is_trainee">
                                <option>No</option>
                                <option>Yes</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="is_staff">Is Staff</label>
                            <select class="form-select" aria-label="Default select example" id="is_staff"
                                name="is_staff">
                                <option>No</option>
                                <option>Yes</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="is_teamlead">Is Teamlead</label>
                            <select class="form-select" aria-label="Default select example" id="is_teamlead"
                                name="is_teamlead">
                                <option>No</option>
                                <option>Yes</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="is_admin">Is Root</label>
                            <select class="form-select" aria-label="Default select example" id="is_admin"
                                name="is_admin">
                                <option>No</option>
                                <option>Yes</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="date_of_join">Date of Join</label>
                            <input type="date" class="form-control" name="date_of_join" id="date_of_join" value="{% if user.date_of_join %}{{ user.date_of_join|date:'Y-m-d' }}{% endif %}">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="is_active">Is Active</label>
                            <select class="form-select" aria-label="Default select example" id="is_active"
                                name="is_active">
                                <option>No</option>
                                <option>Yes</option>
                            </select>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
            </form>
        </div>
    </div>
</div>