<div class="modal fade" id="new_Leads_add_container" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create Lead</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row mt-4 mb-4">
                        <div class="col-3">
                            <div class="mb-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="Client_name" name="Client_name" class="form-control"/>
                                    <label class="form-label" for="Client_name">Client Name</label>
                                </div>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="number" id="Client_number" name="Client_number" class="form-control"/>
                                    <label class="form-label" for="Client_number">Client Number</label>
                                </div>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="Company_name" name="Company_name" class="form-control"/>
                                    <label class="form-label" for="Company_name">Company Name</label>
                                </div>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <select id="Company_type" name="Company_type" class="form-control">
                                    <option value="">Select Company Type</option>
                                    {% for Org_Type in Org_Type %}
                                    <option value="{{Org_Type.pk}}">{{Org_Type}}</option>
                                    {% endfor %}
                                </select>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <select id="Country" name="Country" class="form-control">
                                    <option value="">Select Country</option>
                                    {% for Location in Locations %}
                                    <option value="{{ Location.location }}">{{Location}}</option>
                                    {% endfor %}
                                </select>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <select id="city" name="city" class="form-control">
                                    <option value="">Select City</option>
                                    {% for city in citys %}
                                    <option value="{{ city.city }}">{{city}}</option>
                                    {% endfor %}
                                </select>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <select id="Lead_Name" name="lead_name" class="form-control">
                                    <label class="form-label" for="Lead_Name">Referral Name</label>
                                    <option value="">Lead Name</option>
                                    {% for lead_name in lead_names %}
                                    <option value="{{ lead_name.Lead_Name }}">{{lead_name.Lead_Name}}</option>
                                    {% endfor %}
                                </select>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <select class="form-control" id="bussinesstype" name="bussinesstype">
                                    <option value="">Business Type</option>
                                    {% for value, label in BUSINESS_TYPE_CHOICES %}
                                    <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <select class="form-multi-select w-100" name="products" id="products" multiple data-coreui-search="true">
                                    {% for Product in Products %}
                                    <option value="{{Product.Product_Name}}">{{Product.Product_Name}}</option>
                                    {% endfor %}
                                </select>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="number" id="Amount" name="Amount" class="form-control"/>
                                    <label class="form-label" for="Amount">Proposal Budget</label>
                                </div>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="number" id="finallybudjet" name="finallybudjet" class="form-control"/>
                                    <label class="form-label" for="finallybudjet">Final budget</label>
                                </div>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="date" id="enddate" name="enddate" class="form-control"/>
                                    <label class="form-label" for="enddate">End Date</label>
                                </div>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <select id="Prioritys" name="Prioritys" class="form-control">
                                    <option value="">Priority</option>
                                    {% for value, label in Prioritys %}
                                    <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="email" id="email" name="email" class="form-control"/>
                                    <label class="form-label" for="email">Email</label>
                                </div>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <select id="satus" name="satus" class="form-control">
                                    <option value="">Select Status</option>
                                    {% for value, label in Statuss %}
                                    <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="date" id="callbackdate" name="callbackdate" class="form-control"/>
                                    <label class="form-label" for="callbackdate">Call Back Date</label>
                                </div>
                                <p class="p-0 m-0 text-danger small"></p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline" data-mdb-input-init>
                                <textarea class="form-control" id="comments" name="comments" rows="4"></textarea>
                                <label class="form-label" for="comments">Additional Remarks</label>
                            </div>
                            <p class="p-0 m-0 text-danger small"></p>
                        </div>
                        <div class="col-6">
                            <div class="form-outline" data-mdb-input-init>
                                <textarea class="form-control" id="Remarks" name="Remarks" rows="4"></textarea>
                                <label class="form-label" for="Remarks">Call Back Comments</label>
                            </div>
                            <p class="p-0 m-0 text-danger small"></p>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Create">
            </div>
            </form>
        </div>
    </div>
</div>