{% load static %}
<div class="d-flex align-items-end">
    <div class="d-flex align-items-end justify-content-between">
        <div style="position: relative;">
            <div class="profile-pic">
                {% if get_data.org_img %}
                <img src="{{ get_data.org_img.url }}" width="150" />
                {% else %}
                <img src="{% static 'images/fav-icon.png' %}" width="150" />
                {% endif %}
            </div>
        </div>    
        <div>
            <h1 class="mx-4">{{get_data.org_name}}</h1>
            <h6 class="mx-4 text-muted">{{get_data.customer_id}}</h6>
        </div>
    </div>
    
</div>
<section id="" class="container py-3 d-flex align-items-center  justify-content-between">
    <div class="contact d-flex align-items-center" style="gap: 2rem;">
        {% if get_data.mail_id %}
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ get_data.mail_id }}" target="_blank">
            {% endif %}
            <div class="Mail d-flex align-items-center justify-content-center flex-column text-start">
                <i class='bx bx-envelope 
                {% if get_data.mail_id %}
                bg-info 
                {% else %}
                bg-light
                {% endif %}
                text-muted fs-4 p-2' style="border-radius: 50%;"></i>
                <p class="m-0 p-0" style="font-size: small;">Mail</p>
            </div>
            {% if get_data.mail_id %}
        </a>
        {% endif %}
        {% if get_data.mail_id %}
        <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Event%20Title&dates=20240101T010000Z/20240101T020000Z&details=Event%20Description&location=Event%20Location&add={{get_data.mail_id}}" target="_blank">
            {% endif %}
              <div class="Schedule d-flex align-items-center justify-content-center flex-column text-start">
                <i class='bx bx-calendar-plus 
                {% if get_data.mail_id %}
                bg-info 
                {% else %}
                bg-light
                {% endif %}
                text-muted fs-4 p-2' style="border-radius: 50%;" ></i>
                <p class="m-0 p-0" style="font-size: small;">Schedule</p>
            </div>
            {% if get_data.mail_id %}
        </a>
        {% endif %}
        
    </div>
    <hr class="w-100 ml-3">
</section>
<section class="container py-3 px-2 mt-5">
    <div class="row justify-content-between text-start">
        <div class="col-12 mb-4 mb-lg-0 d-none d-lg-block">
            <h4>Product</h4>
            <div class="bg-light p-3 rounded-3 rounded-3">
                <div class="product  d-flex align-items-center" style="gap: 1rem; flex-wrap: wrap;">
                    {% for product in get_data.products.all %}
                        <h5 class="p-2 px-4 bg-white  rounded-6" style="width: fit-content;">{{product.Product_Name}}</h5>
                    {% endfor %}
                </div>
                <div>
                    <p class="mt-3 mb-2 p-0">End Date</p>
                    <p class="m-0 h5" style="width: fit-content;">{{get_data.end_of_date}}</p>
                </div>
                <div class="m-0 mt-3 d-flex align-items-center" style="gap: 10px;">
                    <p class="m-0 alert-success px-4 py-1 rounded-pill" style="width: fit-content;">{{get_data.priority}}</p>
                    <p class="m-0 alert-info px-4 py-1  rounded-pill" style="width: fit-content;">{{get_data.status}}</p>
                </div>
                <div class="mt-3">
                    <p class="mt-3 mb-2 p-0">Call back Date</p>
                    <p class="m-0 h5" style="width: fit-content;">{{get_data.follow_up}}</p>
                </div>
                <div class="mt-3">
                    <p class="m-0 p-0">Budget</p>
                    <h1 class="m-0 mt-3 d-flex align-items-center">
                        <i class='bx bx-rupee'></i> 
                        <p class="m-0 h3" style="width: fit-content;">{{get_data.amount}}</p>
                    </h1>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="container py-3 px-2">
    <div class="row justify-content-between text-start">
        <div class="col-md-7 col-lg-7 mb-4 mb-lg-0 d-none d-lg-block">
            <h4>Details</h4>
            <div class="bg-light p-3 rounded-3">
                <p class="fs-4 fw-bold mb-3">{{get_data.client_name |upper}} <span class="text-muted fw-normal" style="font-size: small;">[Client Name]</span></p>
                <p>{{get_data.client_number}} <span class="text-muted fw-normal" style="font-size: small;">[Client Number]</span></p>
                <p>{{get_data.org_type.org_type}} <span class="text-muted fw-normal" style="font-size: small;">[Company type]</span></p>
                <p>{{get_data.location}} <span class="text-muted fw-normal" style="font-size: small;">[Company Location]</span></p>
                <p>{{get_data.city}} <span class="text-muted fw-normal" style="font-size: small;">[City]</span></p>
                <p>{{get_data.lead_name}} <span class="text-muted fw-normal" style="font-size: small;">[Lead]</span></p>
                <p>{{get_data.business_type}} <span class="text-muted fw-normal" style="font-size: small;">[Bussiness Type]</span></p>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 mb-lg-0 d-none d-lg-block">
            <h4>History</h4>
            <div class="bg-light rounded-3 p-3">
                <ul class="list-group list-group-light">
                    <li class="list-group-item border-0 after-icon  m-0 mb-4 p-0">
                        <span class="text-primary me-2">
                            <i class='bx bxs-check-circle'></i>
                        </span>
                        Join date, {{get_data.created_date}}
                        <span class="text-muted" style="font-size: 11px;">[{{get_data.created_by|upper}}]</span>
                    </li>
                    <li class="list-group-item border-0 after-icon m-0 mb-4 p-0">
                        <span class="text-primary me-2">
                            <i class='bx bxs-check-circle'></i>
                        </span>
                        last update on, {{get_data.updated_date}}
                        <span class="text-muted" style="font-size: 11px;">[{{get_data.updated_by|upper}}]</span>
                    </li>
                    <li class="list-group-item border-0   m-0 mb-4 p-0">
                        <span class="text-primary me-2">
                            <i class='bx bxs-check-circle text-muted'></i>
                        </span>
                        waiting for next update
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
