<!-- calendar.html -->
{% extends 'main.html' %}

{% block title %}
Dashboard | Revaa Digital Solution
{% endblock %}

{% block content %}
{% include 'inc/messages.html' %}
<div class="container">
    <style>
        td,tr{
            width:  14.2857143%; 
        }
    </style>
    <div class="d-flex align-item-center justify-content-between">
        <h3 class="mb-5">Calendar - {{ month_name }} - {{ year }}</h3>
        <div>
            <button class="btn alert-primary" id="prev-month">Previous</button>
            <button class="btn alert-primary" id="next-month">Next</button>
            <a href="" class="btn alert-primary">Report</a>
        </div>
    </div>
    <table class="calendard mb-5">
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            {% for week in calendar_data %}
                <tr>
                    {% for day, formatted_date in week %}
                        {% if day != 0 %}
                            {% if formatted_date %}
                                <td class= "{% if today == formatted_date %} alert-success {% endif %}">
                                    <a href="{% url 'task_sheet_function' user=user date=formatted_date %}" class="alert-info">{{ day }}</a>
                                    {% for status in usersatus %}
                                    {% if status.created_date|date:"Y-m-d" == formatted_date %}
                                    <p class="m-2 p-0 text-success">{{status.status}}</p>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td>{{ day }}</td>
                            {% endif %}
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <script>
    document.getElementById('prev-month').addEventListener('click', function() {
        var prevYear = {{ prev_year }};
        var prevMonth = {{ prev_month }};
        window.location.href = `/calendar/${prevYear}/${prevMonth}/`;
    });

    document.getElementById('next-month').addEventListener('click', function() {
        var nextYear = {{ next_year }};
        var nextMonth = {{ next_month }};
        window.location.href = `/calendar/${nextYear}/${nextMonth}/`;
    });
</script>

</div>
{% endblock %}

