{% extends 'main.html' %}
{% load static %}

{% block title %}
Leads Page | Revaa Digital Solution
{% endblock %}

{% block content %}
{% include 'inc/messages.html' %}
<section class="content">
    <h4>Leads Page</h4>
  <div class="d-flex align-items-center justify-content-between my-4">
    {% if All_Leads %}
    {% include 'alertform/lead_filter_form.html' %}
    <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#lead_filter_form"> filter the lead table </button>
            {% endif %}
    <div>
        {% include 'alertform/new_Leads.html' %}
        <button type="button" class="btn btn-link btn-sm btn-rounded bg-light" data-toggle="modal"
            data-target="#new_Leads_add_container"> New Leads </button>

        {% include 'alertform/import_data.html' %}
        <button type="button" class="btn btn-link btn-sm btn-rounded bg-light" data-toggle="modal" data-target="#importdata">
            Import
            data </button>
            {% if All_Leads %}
        <a type="button" class="btn btn-link btn-sm btn-rounded bg-light" href="{% url 'export_leads' %}">Export data</a>
        {% endif %}
    </div>
</div>
<hr>
{% if All_Leads %}
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="p-2">S.No <i class='bx bx-sort text-primary'></i></th>
            <th class="p-2">Company Name <i class='bx bx-sort text-primary'></i></th>
            <th class="p-2">Client Name <i class='bx bx-sort text-primary'></i></th>
            <th class="p-2">Client Number <i class='bx bx-sort text-primary'></i></th>
            <th class="p-2">Call Back <i class='bx bx-sort text-primary'></i></th>
            <th class="p-2">Date Of Join</th>
            <th class="p-2">Product <i class='bx bx-sort text-primary'></i></th>
            <th class="p-2">Status <i class='bx bx-sort text-primary'></i></th>
        </tr>
    </thead>
    <tbody>
        {% for lead in All_Leads reversed%}
        <tr>
            <td class="p-2">{{forloop.counter}}</td>
            <td class="p-2"><a href="{% url 'editlead' pk=lead.pk %}">{{lead.org_name}}</a></td>
            <td class="p-2">{{lead.client_name}}</td>
            <td class="p-2">{{lead.client_number}}</td>
            <td class="p-2">{{lead.follow_up}}</td>
            <td class="p-2">{{lead.created_date}}</td>
            <td class="p-2">
                {% for product in lead.products.all %}
                {{ product }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td class="p-2">{{lead.status}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="row">
    <div class="col-12">
        <img src="{% static 'images/No_data_for_recent_actions.jpg' %}" width="30%" alt="">
    </div>
</div>
{% endif %}
</section>
{% endblock %}