{% extends 'main.html' %}
{% load static %}

{% block title %}
Dashboard | Revaa Degital Solition
{% endblock %}

{% block content %}
{% include 'inc/messages.html' %}

<div class="row">
    <div class="col-8">
        <div class="row">
            <h3 class="container fw-bold">Dashboard</h3>
            <div class="col-sm-4">
                <a href="{% url 'leads' %}">
                    <div class="box bg-light2 mb-3">
                        <div class="card-header">Total Leads ( FY )</div>
                        <div class="card-body">
                            <h1 class="fs-1">{{over_all_leads}}</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'thismonthleads' %}">
                    <div class="box bg-light2 border-secondary mb-3">
                        <div class="card-header">Monthly Leads ({{this_month}})</div>
                        <div class="card-body d-flex align-items-end"
                            style="display: flex; align-items: start; justify-content: space-between;">
                            <h1 class="fs-1">{{this_month_leads_count}} <span class="fs-4">/ {{over_all_leads}}</span> </h1>
                            {% if 0 > prev_month_leads_count_diff %}
                            <span class="text-danger">{{prev_month_leads_count_diff}} <i class='bx bx-trending-down'></i></span>
                            {% else %}
                            <span class="text-success">{{prev_month_leads_count_diff}} <i class='bx bx-trending-up'></i></span>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'last30days' %}">
                    <div class="box bg-light2 border-secondary mb-3">
                        <div class="card-header">Leads last 30 days</div>
                        <div class="card-body">
                            <h1 class="fs-1">{{last_30_days_leads_count}} <span class="fs-4">/ {{over_all_leads}}</span> </h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="{% url 'prospective_leads' %}">
                    <div class="box bg-light2 mb-3">
                        <div class="card-header">Prospective Leads</div>
                        <div class="card-body">
                            <h1 class="fs-1">{{prospective_leads_count}} <span class="fs-4">/ {{over_all_leads}}</span> </h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'monthly_prospective' %}">
                    <div class="box bg-light2 border-secondary mb-3">
                        <div class="card-header">Monthly prospective</div>
                        <div class="card-body d-flex"
                            style="display: flex; align-items: start; justify-content: space-between;">
                            <h1 class="fs-1">{{Monthly_prospective_count}} <span class="fs-4">/ {{this_month_leads_count}}</span> </h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'last_30_days_prospective' %}">
                    <div class="box bg-light2 border-secondary mb-3">
                        <div class="card-header">30 days prospective</div>
                        <div class="card-body">
                            <h1 class="fs-1">{{last_30_days_prospective_count}} <span class="fs-4">/ {{last_30_days_leads_count}}</span> </h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="{% url 'span_leads' %}">
                    <div class="box bg-light2 mb-3">
                        <div class="card-header">Span Leads</div>
                        <div class="card-body">
                            <h1 class="fs-1">{{span_leads_count}} <span class="fs-4">/ {{with_out_customer}}</span> </h1>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>

        <div class="col-sm-6">
            <canvas id="leadStatusChart" width="200" height="200"></canvas>
        </div>
        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            // Lead Status data
    var leadStatuses = {{ lead_statuses|safe }};
    var leadStatusValues = {{ lead_status_values|safe }};

    // Get the chart canvas for lead statuses
    var statusCtx = document.getElementById('leadStatusChart').getContext('2d');

    // Create the lead status pie chart
    var leadStatusChart = new Chart(statusCtx, {
        type: 'pie',
        data: {
            labels: leadStatuses,
            datasets: [{
                data: leadStatusValues,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                },
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.label + ': ' + tooltipItem.raw + ' leads';
                        }
                    }
                }
            }
        }
    });
        </script>
    </div>
    <div class="col-4">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-between mb-2">
                <ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <p class="nav-link p-3 px-4 active">Last Activity
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            {% if Recent_actions %}
            {% for Recent_action in Recent_actions %}
            <div class="col-12">
                <div class="d-flex mt-2" style="align-items: start;">
                    <div class="timeline-item bg-light2 w-100 p-3 pb-0 text-light" style="border-radius: 0 10px 10px 10px; min-height: 80px;">
                        <p class="time text-secondary p-0 m-0" style="font-size: small;">
                        <i class="fas fa-clock"></i> 
                        {{Recent_action.timestamp}}</p>
                        <hr class="m-0 my-1">
                        <p class="timeline-header no-border m-0 text-primary">
                                {% if Recent_action.lable %}
                                    {{Recent_action.lable}}
                                {% else %}
                                    {{Recent_action.user.username}}
                                {% endif %}
                        </p>
                        <div class="timeline-body">
                            <ul style="list-style: none;" class="p-0">
                                <li style="font-size: small;" class=" d-flex align-items- 
                                text-{% if Recent_action.action == 'Created' %}success{% elif Recent_action.action == 'Deleted' %}danger{% else %}warning{% endif %}">
                                {% if Recent_action.action == 'Created' %}
                                <i class='bx bxs-badge-check fs-6 me-1' ></i>
                                {% elif Recent_action.action == 'Deleted' %}
                                <i class='bx bx-window-close fs-6 me-1'></i>
                                {% else %}
                                <i class='bx bxs-check-circle fs-6 me-1'></i>
                                {% endif %}
                                {{Recent_action.action}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12">
                <img src="{% static 'images/No_data_for_recent_actions.jpg' %}" width="100%" alt="">
                <p style="text-align: center;">No actions</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}