{% extends 'main.html' %}
{% load static %}

{% block title %}
Dashboard | Revaa Degital Solition
{% endblock %}

{% block content %}

<div class="mt-5 d-flex align-items-center justify-content-between">
  {% include 'alertform/add_employees_from.html' %}
  <h3>Employees</h3>
  <button type="button" class="btn alert-primary" data-toggle="modal" data-target="#craete_new_employee">
    Create Employee
  </button>
</div>

{% if ALL_users %}
<table id="example" class="table table-striped nowrap" style="width:100%">
  <thead>
      <tr>
          <th class="p-2">S.NO</th>
          <th class="p-2">Name / Employee Id</th>
          <th class="p-2">Eamil Id</th>
          <th class="p-2">Mobile Number</th>
          <th class="p-2">Employee Role</th>
          <th class="p-2">Status</th>
          <th class="p-2">Join Date</th>
        </tr>
  </thead>
  <tbody>
    {% for  user in ALL_users %}
      <tr>
          <td class="p-2">
          {{forloop.counter}}
          </td>
          <td class="p-2">
            <a href="{% url 'show_history' employeeid=user.username employeename=user.first_name %}">{{user.username}}</a> |
            {{user.first_name}} {{user.last_name}}
          </td>
          <td class="p-2">
            {% if  user.company_email %}
            {{user.company_email}}
            {% else %}
            {{user.email}}
            {% endif %}
          </td>
          <td class="p-2">
            {{user.employee_mobile_number}}
          </td>
          <td class="p-2">
            {{user.role}}
          </td>
          <td class="p-2">
            {% if user.is_active == True %}
              <span class="badge badge-success">Activated {{user.username}}</span >
            {% else %}
              <span class="badge badge-warning">Waiting for activating...</span >
            {% endif %}
          </td>
          </td>
          <td class="p-2">
            {{user.date_of_join}}
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}