{% extends 'main.html' %}
{% load static %}

{% block title %}
Dashboard | Revaa Degital Solition
{% endblock %}

{% block content %}
{% include 'inc/messages.html' %}
<div class="container">
    <div class="d-flex align-items-center justify-content-between">
        <p id="contact" class="fs-5">Contact Information</p>
        <a href="{% url 'darkmood' %}" class="btn btn-primary d-flex align-items-center"><i class='bx me-2 nav_icon bxs-moon'></i> Dark Mood</a>
    </div>
    
    <div class="d-flex align-items-center mt-5">
        {% if user.employee_photo %}
            <img src="{{ user.employee_photo.url }}" width="150" style="border-radius: 50%;" />
        {% else %}
        <div class="img-div-container box bg-light2 d-flex align-items-center justify-content-center"
            style="width: 8rem; height: 8rem; border-radius: 50%; ">
            <h1 class="m-0 h1 fs-0" style="font-size: 5rem;">{{ user.first_name|title|first }}</h1>
        </div>
        {% endif %}
        <div>
            <h1 class="mx-4">{{user.first_name}} {{user.last_name}}</h1>
            <h6 class="mx-4 text-muted">Employee ID : {{user.Employee_id}}</h6>
        </div>

    </div>
</div>
<section class="container py-3 px-4 mt-5">
    <div class="row justify-content-between text-start">
        <div class="col-md-6 col-lg-6 mb-4 mb-lg-0 d-none d-lg-block">
            <h4>Basic Information</h4>
            <div class="bg-light2 p-3 rounded-3">
                <p>{{user.username}}</p>
                <p>{{user.email}} | {{user.company_email}}</p>
                <p>{{user.employee_mobile_number}} | {{user.parent_number}}</p>
                <p>{{user.date_of_birth}}</p>
                <p>{{user.qualification}}</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-lg-0 d-none d-lg-block">
            <h4>Education and Position</h4>
            <div class="bg-light2 rounded-3 p-3">
                <p>{{user.department}}</p>
                <p>{{user.team}}</p>
                <p>{{user.role}}</p>
                <p>{{user.position}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}